<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav2.ejs") %>

  <div class="details content">
    <h2><%= book.title %></h2>
    <div class="content">
      <p><%= book.authour %> <br> <%= book.pubdate.split('-')[0] %></p>
      <p><%= book.desc %></p>
    </div>
    <a href="/file/<%= book.update %>"> 
      Open file
    </a>
    <br><br>
    <a href="/delete?ID=<%= book._id%>&UD=<%=book.update %>">
      Delete
    </a>
    <br><br><br>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>